@model Project_8.Models.Staff

@{
   Layout = null;

}

<h2>Edit Staff</h2>

<form method="post">
   <div asp-validation-summary="All">

   </div>
   Id:
   <Input asp-for="Id" />
   <br />

   Name:
   <Input asp-for="Name" />
   <br />

   Age:
   <Input asp-for="Age" />
   <br />

   <input type="Submit" value=" Save Staff" />
   <button>Cancel</button>
</form>