@{
   ViewData["Title"] = "Home Page";
}

<table>
   <tr>
      <p>
         <h3 align="left">REGISTER</h3>
      </p>
      <td align="right"> UserName: </td>
      <td> <input type="text" name="UserName" placeholder="UserName name"</td>
   </tr>

   <tr>
      <td align="right"> Password: </td>
      <td> <input type="text" name="Password" placeholder="Password name"</td>
   </tr>

   <tr>
      <td align="right"> Password again: </td>
      <td> <input type="text" name="Password again" placeholder="password again name"</td>
   </tr>

   <tr>
      <td align="right"> Email address: </td>
      <td> <input type="text" name="Email address" placeholder="Email address name"</td>
   </tr>

   <tr>
      <td align="right">Create Account: </td>
      <td> <input type="submit" placeholder="Create Account name"</td>
   </tr>

</table>